.message{
	position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25rem;
    min-height: 6rem;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.message-success{
	background-color: rgba(1,184,36, 0.7);
	color: #0e7711;
}

.message-success:hover{
	background-color: rgba(1,184,36, 0.8);
}

/*.message-success .alert-symbol{
	background-color: rgba(1,184,36, 0.3);
}*/

.alert-symbol{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 3rem;
	font-size: 3rem;
}

.alert-symbol .fa{
	padding: 0.6rem;
}

.alert-symbol span{
	padding: .3rem;
}

.message .content {
    display: block;
    justify-content: left;
    align-items: center;
    flex: 1;
    padding: 0.5rem;
}

.message .content span{
	display: block;
}

.message .content .top{ 
	display: flex;
	justify-content: space-between;   
	padding: 0.3rem 0.5rem;
    font-weight: 600;
}

.message .content .top .title{
	padding: 0.2rem 0;
}

.message .content .top .close-btn{
	background-color: transparent;
	font-size: 11px;
	cursor: pointer;
	padding: 0;
	border: none; 
	transition: all 0.3s ease;
}

.message .content .top .close-btn:hover{
	color: #066528;
}

.message .content .bottom{
    font-size: 12px;
    padding: 0.5rem;
}

.message .content .body, .message .content .title{
	line-height: 1;
}

.message-danger{

}